@font-face {
  font-family: Comic Sans MS;
  src: url(comicsansmsgras.ttf);
}

body {
    font-family: 'Comic Sans MS', 'Chalkboard', sans-serif
}
.selector {
    display: inline-block;
    padding: 10px
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 3px 10px;
    border: 1px solid #a12727;
    border-radius: 8px;
    background: #ff4a4a;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff4a4a), to(#992727));
    background: -moz-linear-gradient(top, #ff4a4a, #992727);
    background: linear-gradient(to bottom, #ff4a4a, #992727);
    -webkit-box-shadow: #ff7f7f 0px 0px 10px 3px;
    -moz-box-shadow: #ff7f7f 0px 0px 10px 3px;
    box-shadow: #ff7f7f 0px 0px 10px 3px;
    text-shadow: #591717 1px 1px 1px;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}
